body { padding-top: 70px; }

.refugee-index{
  text-align: center;
  font-family: 'Roboto Mono', sans-serif ;
}

.container{
  padding: 3%;
  box-sizing: border-box;
}

.index-fact{
  font-size: 2em;
  font-weight: 400;
  vertical-align: middle;
  transition: all .2s ease-in-out;
}

.index-stat{
  font-size: 4em;
  color: black;
  -webkit-text-fill-color: #c7a402;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.signup-form{
  border: solid 1px grey;
  border-radius: 7px;
  padding: 1em 4em 1em 4em;
  width: 80%;
  max-width: 300px;
  margin: auto;
}
