$hive-yellow: #eae2c5;

@mixin black-outline
{ text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000; 
}

.refugee-index{
  text-align: center;
  font-family: 'Roboto Mono', sans-serif ;
}

.container{
  padding: 3%;
  box-sizing: border-box;
}

.index-fact{
  color: white;
  @include black-outline;
  z-index: 4;
  font-size: 2em;
  font-weight: 400;
  vertical-align: middle;
  transition: all .2s ease-in-out;
}

.index-stat{
  z-index: 4;
  font-size: 4em;
  color: white;
  -webkit-text-fill-color: red;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.signup-form{
  border: solid 1px grey;
  border-radius: 7px;
  padding: 1em 4em 1em 4em;
  width: 80%;
  max-width: 300px;
  margin: auto;
  margin-top: 2em;
}

.background-image{
  width: 100%;
  height: auto;
  top: 0px;
  left: 0px;
}

.overlay-image{
  position: absolute;
  width: 100%;
  height: auto;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.index-entry{
  // display: inline;
  // height: 100%;
  // margin-bottom: 5em;
}

.grid-item{
  width: 100%;
}

.stat-container{
  display: inline-block;
  z-index: 4;
  margin: auto;
  width: 40%;
  padding: 3em;
}

.ct-series-a .ct-line{
  stroke: #db630d;
  stroke-width: 0.25em;
}

.ct-series-a .ct-point{
  stroke: #db630d;
}

.ct-series-b .ct-line{
  stroke: white;
  stroke-width: 0.25em;
}

.ct-series-b .ct-point{
  stroke: white;
}
.ct-grid{
  opacity: 0.1;
}